{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/static/css/admin_set.css">
</head>
<body>
    <header class="header">
        <div class="search_container">
            <h1>AnyMall</h1>
            <form action="/search" method="get">
                <input type="text" placeholder="검색어 입력" name="query" required>
                <button type="submit">검색</button>
            </form>
        </div>
    </header>
    <div class="mypage-container">
        <aside class="sidebar">
            <nav>
                <button id="manageCategorys">카테고리관리</button>
                <button id="manageProducts">상품관리</button>
                <ul id="productMenu" style="display: none;">
                    <li><a href="#inquiry">상품 조회/수정</a></li>
                    <li><a href="#registration">상품 등록</a></li>
                    <li><a href="#shelf_registration">상품 일괄등록</a></li>
                    <li><a href="#catalog">카탈로그 가격관리</a></li>
                    <li><a href="#relative">연관상품 관리</a></li>
                    <li><a href="#ficture">사진 보관함</a></li>
                    <li><a href="#delivery">배송정보 관리</a></li>
                    <li><a href="#templates">템플릿 관리</a></li>
                    <li><a href="#notice">공지사항 관리</a></li>
                    <li><a href="#subcribe">구독 관리</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">

            <div class="goods_info">
                <div class="standard">
                    <strong>상품관리</strong>
                </div>
                <br>
                <div>
                    {% for product in products %}
                    <div class='delete_box'>
                        {{ product.product_id }}
                        {{ product.product_name }}
                        <a href="{% url 'admin_set' product_no=product.product_no %}"><button>수정</button></a>
                        <form method="POST" action="" onsubmit="return confirmDelete(event, '{{ category.category_name }}')">
                            {% csrf_token %}
                            <button type="submit">삭제</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    document.getElementById('manageProducts').addEventListener('click', function() {
        var menu = document.getElementById('productMenu');
        if (menu.style.display === 'none') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    });
</script>
<script>
    function confirmDelete(event, categoryName) {
        var result = confirm(categoryName + " 카테고리를 삭제하시겠습니까?");
        return result;
    }
    {% if result %}
    alert("{{ result }}");
    window.history.back();
    {% endif %}
</script>
</html>
