{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/admin_set.css">
</head>
<body>
    <header class="header">
        <div class="search_container">
            <h1>AnyMall</h1>
            <form action="/search" method="get">
                <input type="text" placeholder="검색어 입력" name="query" required>
                <button type="submit">검색</button>
            </form>
        </div>
    </header>
    <div class="mypage-container">
        <aside class="sidebar">
            <nav>
                <button id="manageProducts">상품관리</button>
                <ul id="productMenu" style="display: none;">
                    <li><a href="#inquiry">상품 조회/수정</a></li>
                    <li><a href="#registration">상품 등록</a></li>
                    <li><a href="#shelf_registration">상품 일괄등록</a></li>
                    <li><a href="#catalog">카탈로그 가격관리</a></li>
                    <li><a href="#relative">연관상품 관리</a></li>
                    <li><a href="#ficture">사진 보관함</a></li>
                    <li><a href="#delivery">배송정보 관리</a></li>
                    <li><a href="#templates">템플릿 관리</a></li>
                    <li><a href="#notice">공지사항 관리</a></li>
                    <li><a href="#subcribe">구독 관리</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <div class="goods_info">
                <div class="standard">
                    <strong>상품등록</strong>
                    <p>필수</p>
                </div>
                <div class="st_pic">
                    <p>대표이미지</p>
                    <div class="st_pic_img">
                        <img src="" alt="">
                        <p>권장 크기: 1000 X 1000(윈도 대상 750 X 1000), 300 X 300 이상</p>
                        <p>이미지 확대 기능 : 대표 이미지 기준 1000 X 1000 이상 이미지 등록 시, 확대 기능이 제공됩니다.</p>
                        <p>쇼핑검색에 노출되지 않는 경우 도움말 () 또는 상품검색 SEO 가이드 '이미지' 항목을 참고해 주세요.</p>
                    </div>
                </div>
                <div class="st_pic">
                    <p>추가이미지</p>
                    <div class="st_pic_img">
                        <img src="" alt="">
                        <button>순서 변경</button>
                        <p>권장 크기: 1000 X 1000(윈도 대상 750 X 1000)</p>
                        <p>추가이미지는 최대 9개까지 설정할 수 있습니다.</p>
                        <p>jpg,jpeg,gif,png,bmp 형식의 정지 이미지만 등록됩니다.(움직이는 이미지의 경우 첫 번째 컷이 등록</p>
                    </div>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>카테고리</strong>
                    <p>필수</p>
                </div>
                <div class="category_box">
                    <button>카테고리명 검색</button>
                    <button>카테고리명 선택</button>
                    <button>카테고리 템플릿</button>
                    <input type="checkbox" id="template" checked>
                    <label for="template">템플릿 추가</label>
                    <div>
                        <input type="text" class="text_input" placeholder="카테고리명 입력">
                    </div>
                    <p>상품과 맞지 않는 카테고리에 등록할 경우 강제 이동되거나 판매중지, 판매금지 될 수 있습니다.</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>상품명</strong>
                    <p>필수</p>
                </div>
                <div class="goods_name">
                    <input type="text" id="name_input">
                    <label for="name_input">0/100</label>
                    <p>판매 상품과 직접 관련이 없는 다른 상품명, 스팸성 키워드 입력 시 관리자에 의해 판매 금지될 수 있습니다.</p>
                    <p>유명 상품 유사문구를 무단으로 도용하여 ~스타일, ~st 등과 같이 기재하는 경우 별도 고지 없이 제재될 수 있습니다.</p>
                    <p>전용 상품명을 사용 중인 경우 대표 상품명 수정 시에도 전용 상품명으로 노출됩니다</p>
                    <p>상품명을 검색최적화 가이드에 잘 맞게 입력하면 검색 노출에 도움이 될 수 있습니다.</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>판매가</strong>
                    <p>필수</p>
                </div>
                <div class="price">
                    <input type="text" id="price_input" placeholder="숫자만 입력">
                    <label for="price_input">원</label>
                    <p>네이버 쇼핑을 통한 주문일 경우 네이버쇼핑 매출연동수수료 2%가 네이버페이 결제수수료와 별도로 과금됩니다.</p>
                    <p>판매가, 할인가를 활용한 비정상 거래는 자동 탐지되어 판매지수에 포함되지 않으니 유의해주세요.</p>
                </div>
                <div class="discount_box">
                    <p>할인</p>
                    <div class="discount">
                        <button>설정함</button>
                        <button>설정안함</button>
                    </div>
                </div>
                <div class="discount_box">
                    <p>판매기간</p>
                    <div class="discount">
                        <button>설정함</button>
                        <button>설정안함</button>
                    </div>
                </div>
                <div class="discount_box">
                    <p>부가세</p>
                    <div class="discount">
                        <button>과세상품</button>
                        <button>면세상품</button>
                        <button>영세상품</button>
                    </div>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>재고수량</strong>
                    <p>선택</p>
                </div>
                <div class="stock">
                    <input type="text" id="stock_input" placeholder="숫자만 입력">
                    <label for="stock_input">원</label>
                    <p>옵션 재고수량을 사용하면, 옵션의 재고수량으로 적용되어 자동으로 입력됩니다.</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>옵션</strong>
                    <p>필수</p>
                </div>
                <div class="option">
                    <input type="text" id="option_input" placeholder="분류">
                    <button>+</button>
                </div>
                <div class="option">
                    <input type="text" id="option_input" placeholder="속성">
                    <button>+</button>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>상세설명</strong>
                    <p>필수</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>상품 주요정보</strong>
                    <p>선택</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>상품정보제공고시</strong>
                    <p>선택</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>배송</strong>
                    <p>필수</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>반품/교환</strong>
                    <p>필수</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>A/S, 특이사항</strong>
                    <p>필수</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>추가상품</strong>
                    <p>선택</p>
                </div>
            </div>
            <div class="goods_info">
                <div class="standard">
                    <strong>구매/혜택 조건</strong>
                    <p>선택</p>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    document.getElementById('manageProducts').addEventListener('click', function() {
        var menu = document.getElementById('productMenu');
        if (menu.style.display === 'none') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    });
</script>
</html>
