<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
      <!-- Bootstrap CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="static/css/tiny-slider.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
  <footer class="footer-section">
		<div class="container relative">
			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Anymall</a></div>
					<p class="mb-4">애니몰(ANYMALL Co., Ltd.)<br>
            주소 : 서울특별시 서초구 서초동 1320-10<br>
            사업자등록번호 : 9293-9496-000619 [사업자정보확인]<br>
            통신판매업 신고번호 : 2023-서울강남-01120<br>
            대표 : 박모씨ㅣ개인정보보호책임자 : 이모씨<br>
            고객센터 번호 : 2023-1120<br>이메일 : anymall.6.pjt@gmail.com<br>
            호스팅서비스제공자 : 금쪽24</p>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">

            <div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li>ABOUT US</li>
								<li><a href="#">회사소개</a></li>
								<li><a href="#">채용안내</a></li>
								<li><a href="#">윤리경영</a></li>
							</ul>
						</div>
            <div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li>POLICY</li>
								<li><a href="#">이용약관</a></li>
								<li><a href="#">개인정보처리방침</a></li>
								<li><a href="#">이용안내</a></li>
								<li><a href="#">반품/환불규정</a></li>
							</ul>
						</div>
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li>SUPPORT</li>
								<li><a href="#">고객센터</a></li>
								<li><a href="#">서포터즈</a></li>
								<li><a href="#">마케팅/광고</a></li>
								<li><a href="#">제휴입점문의</a></li>
							</ul>
						</div>
            <div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li>C/S CENTER</li>
								<li>MON-FRIㅣ09:30 - 17:00</li>
								<li>LUNCH ㅣ 12:30 - 13:30</li>
								<li>SAT, SUN, HOLIDAY OFF</li>
							</ul>
						</div>
            <ul class="list-unstyled custom-social" style="text-align:right;">
              <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
            </ul>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
		</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
</body>
</html>