<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
      <!-- Bootstrap CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
      <link href="static/css/tiny-slider.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="index.html">LOGO<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Notice</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Event</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Q＆A</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="#"><img src="static/images/user.svg"></a></li>
					<li><a class="nav-link" href="cart.html"><img src="static/images/cart.svg"></a></li>
				</ul>
			</div>
		</div>
			
	</nav>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      var navLinks = document.querySelectorAll(".nav-link");
  
      navLinks.forEach(function (link) {
        link.addEventListener("click", function () {
          // 현재 클릭한 li 요소에만 'nav-item active' 클래스 추가
          var currentLi = link.closest("li");
  
          // 다른 li 요소에서 'nav-item active' 클래스 제거
          var otherActiveLi = document.querySelector(".nav-item.active");
          if (otherActiveLi) {
            otherActiveLi.classList.remove("active");
          }
  
          // 현재 클릭한 li에 'nav-item active' 클래스 추가
          currentLi.classList.add("active");
        });
      });
    });
  </script>
</html>