{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/mypage.css">
</head>
<body>
    <header class="header">
        <div class="search_container">
            <h1>AnyMall</h1>
            <form action="/search" method="get">
                <input type="text" placeholder="검색어 입력" name="query" required>
                <button type="submit">검색</button>
            </form>
        </div>
        <div class="category_containor">
            <h2 class="category">랭킹</h3>
            <h2 class="category">이벤트</h3>
        </div>
    </header>
    <section id="my">
        <div class="my_top">
            <h2>My Page</h2>
            <div class="my_top_btn">
                <a href="#cart">장바구니</a>
                <a href="#cs">고객센터</a>
                <a href="#logout">로그아웃</a>
            </div>
        </div>
        <div class="my_body">
            <div class="my_left">
                <img src="" alt="name">
                <div class="user">
                    <div class="user_nick">
                        <strong>NickName</strong>
                        <a href="#change_user_info">회원정보변경</a>
                    </div>
                    <div class="user_grade">
                        <strong>{{user_grade}}</strong>
                        <h5>가입일 : {{sub_date}}</h5>
                    </div>
                    <div class="grade_info">
                        <strong>{{user_name}}님 다음 등급인 실버까지 500점 남았습니다.</strong>
                        <a href="grade">등급혜택 ></a>
                    </div>
                </div>
            </div>
            <div class="my_right">
                <div class="point">
                    <img src="" alt="">
                    <strong>포인트 ></strong>
                    <form action="">{{user_point}}</form>
                </div>
                <div class="after_write">
                    <img src="" alt="">
                    <strong>후기작성 ></strong>
                    <form action="">5</form>
                </div>
            </div>
        </div>
    </section>
    <div class="mypage-container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <p>나의 쇼핑 활동</p>
                    <li><a href="#order">주문 내역 조회</a></li>
                    <li><a href="#after">구매후기</a></li>
                    <li><a href="#P_inquiry">상품문의</a></li>
                    <li><a href="#O_inquiry">1:1문의</a></li>
                    <li><a href="#delivery">배송 확인</a></li>
                    <li><a href="#exchange">교환/환불 신청</a></li>
                    <li><a href="#wishlist">찜 목록</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <div class="user_info">
                <div class="standard">
                    <strong>기본 회원정보</strong>
                    <p>필수</p>
                </div>
                <div class="st_pic">
                    <p>사진</p>
                    <div class="st_pic_img">
                        <img src="" alt="">
                        <p>회원님을 알릴 수 있는 사진을 등록해 주세요.</p>
                        <p>등록된 사진은 회원님의 게시물이나 댓글들에 사용됩니다.</p>
                    </div>
                    <button>사진 변경</button>
                </div>
                <div class="st_pic_info">
                    <p>이메일</p>
                    <strong>{{user_email}}</strong>
                </div>
                <div class="st_pic_info">
                    <p>비밀번호</p>
                    <strong>{{user_password}}</strong>
                    <button>비밀번호 변경</button>
                </div>
                <div class="st_pic_info">
                    <p>이름(실명)</p>
                    <strong>{{user_name}}</strong>
                    <button>이름수정</button>
                </div>
                <div class="st_pic_info">
                    <p>닉네임</p>
                    <strong>AnyMall</strong>
                    <button>닉네임 변경</button>
                </div>
                <div class="st_pic_info">
                    <p>이메일</p>
                    <strong>{{user_email}}</strong>
                    <button>이메일 변경</button>
                </div>
                <div class="st_pic_info">
                    <p>휴대전화</p>
                    <strong>{{user_phone}}</strong>
                    <button>휴대전화 변경</button>
                </div>
            </div>
            <div class="plus_user_info">
                <div class="standard">
                    <strong>추가 회원정보</strong>
                    <p>선택</p>
                </div>
                <div class="st_pic_info">
                    <p>생년월일</p>
                    <strong>2023.**.**</strong>
                </div>
                <div class="st_pic_info">
                    <p>성별</p>
                    <strong>남자</strong>
                </div>
                <div class="st_pic_info">
                    <p>환불계좌</p>
                    <strong>*******발|**** ***********</strong>
                    <button>환불계좌 관리</button>
                </div>
                <div class="st_pic_info">
                    <p>배송지</p>
                    <strong>오르미</strong>
                    <button>배송지 관리</button>
                </div>
                <div class="ps">
                    <li>생년월일,성별은 수정이 불가능합니다.</li>
                </div>
            </div>
            <div class="alarm">
                <div class="standard">
                    <strong>수신설정</strong>
                    <p>선택</p>
                </div>
                <div class="alarm_set">
                    <div class="shopping_box">
                        <div class="in_box">
                            <input type="checkbox" id="shopping" checked>
                            <label for="shopping">쇼핑/이벤트 혜택</label>
                        </div>
                        <p>(선택) 개인정보 수집 및 이용 동의</p>
                    </div>
                    <div class="SMS_box">
                        <div>
                            <input type="checkbox" id="sms" checked>
                            <label for="sms">SMS</label>
                        </div>
                        <div>
                            <input type="checkbox" id="sms" checked>
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="ps">
                        <li>구매정보 및 공지 알림은 수신설정에 상관없이 발송됩니다.</li>
                    </div>
                    <div class="line">
                        <p>탈퇴를 원하시면 회원탈퇴 버튼을 눌러주세요</p>
                        <button>회원탈퇴</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
