{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <!-- FontAwesome CSS CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/pwd_verify.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="row justify-content-between text-left">
        <div class="form-group col-12 flex-column d-flex"> 
            <form action="{% url 'pwd_verify' %}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <label for="password">비밀번호 확인:</label>
                <input type="password" id="password" name="password">
                <input type="submit" value="확인">
            </form>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

</html>